.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

.deleteForm {
    display: inline;
}

.loginForm {
    width: 30%; 
    margin: 25px auto;
}

.flexed {
    display: flex;
    flex-wrap: wrap;
}